@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/Gilroy-SemiBold.otf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.otf');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.otf');
}

body {
  font-family: 'Gilroy-Light' !important;
}

.card2 {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card2:not(:first-child) {
    margin-left: -50px;
}

.card2:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card2:hover ~ .card2 {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card2:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.buttonsContent {
  position: absolute;
  top: 150px;

  width: 100%;
  /* left: calc(50% - 60px); */
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}


.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card2:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.cardHeader {
    /* height: 80px; */
    height: 16px;
    background: linear-gradient(90deg, #160644 0%, #290C5E 18%, #771B72 40%, #B33354 60%, #D46949 80%, #D47349 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
}


.btn-acindar-primary {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  padding: .75rem 1.25rem;
  border: 1px solid #FF3700;
  color: #000000;
  background: #FFFFFF;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px; }
  .btn-acindar-primary svg {
    width: 35px;
    margin-left: 25px; }
  .btn-acindar-primary:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #160644 0%, #290C5E 18%, #771B72 40%, #B33354 60%, #D46949 80%, #D47349 100%);
    transition: all .3s;
    z-index: -1; }
  .btn-acindar-primary:hover {
    color: #fff;
    border: 1px solid black;
    background: white; }
    .btn-acindar-primary:hover:before {
      width: 100%; }

      .btn-acindar-black {
        width: fit-content;
        display: flex;
        justify-content: space-around;
        padding: .75rem 1.25rem;
        border: 1px solid #2b3035;
        color: black;
        background: white;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px; }
        .btn-acindar-black svg {
          width: 35px;
          margin-left: 25px; }
        .btn-acindar-black:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background: #2b3035;
          transition: all .3s;
          z-index: -1; }
        .btn-acindar-black:hover {
          color: #fff;
          border: 1px solid #2b3035;
          background: white; }
          .btn-acindar-black:hover:before {
            width: 100%; }



.detailOption {
  border: 1px dashed black !important;
  background: white !important;
  color: white !important;
}

body {
  min-height: 100vh;
  font-size: 13px !important;
  margin: 0;
  display: flex;
  flex-direction:column;
  /* opcional */ line-height: 1.4em;
  /* opcional */ hyphens: auto;
  /* opcional */ font-smooth: always;
  /* opcional */ -webkit-font-smoothing: antialiased;
  /* opcional */ -moz-osx-font-smoothing: grayscale;
}

footer {
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  color: white;
}

.btn-close-black {
  background: black;
  width: 20px;
  padding: 4px;
  border-radius: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.modal-header {
  background: linear-gradient(90deg, #160644 0%, #290C5E 18%, #771B72 40%, #B33354 60%, #D46949 80%, #D47349 100%) !important;
  color: white !important;
}

.btn {
  height: 40px !important;
}

.btn span {
  font-size: 13px !important;
}

.btn-primary{
  background: #8f2567 !important;
  border: 1px solid #8f2567 !important;
}

.btn-secondary{
  background: #d46c49 !important;
  border: 1px solid #d46c49 !important;
}




.cardWithBackImg {
  background-image: url("https://clientes.acindar.com.ar/Content/images-new/misc/card-back-2.jpg?anchor=center&mode=crop&width=999&height=1250");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire */
  border-radius: 4px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}